/* Custom Styles */

body {
    color: #444;
    font-family: "Montserrat";
}


/* Global */

.bg-primary {
    background-color: #373737 !important;
}

.navbar .nav-link {
    color: #fff !important;
}

.navbar .nav-link:hover {
    color: #478dd2 !important;
}

.navbar .active a {
    color: #478dd2 !important;
}

section .title {
    color: #478dd2;
    margin-bottom: 30px;
    font-size: 60px;
    text-transform: uppercase;
    font-weight: bold;
}

a .fa-google-plus {
    font-size: 20px;
    color: #d34836;
}

a .fa-facebook-square {
    font-size: 20px;
    color: #3B5998;
}

.nav-item .fa-user,
.nav-item .fa-sign-out,
.nav-item .fa-gear {
    color: #478dd2 !important;
}

a .fa-gear {
    color: #fff !important;
}

.dropdown-toggle::after {
    display: none;
}

.nav-item .fa-gear {
    color: #478dd2 !important;
}

.my-4 {
    background-color: #efefef;
}

@media (max-width: 992px) {}

@media (max-width: 768px) {
    section .title {
        margin-bottom: 30px;
        font-size: 32px;
    }
    section .description {
        color: #373737;
        margin-bottom: 30px;
        font-size: 25px;
    }
}

@media (max-width: 576px) {
    section .title {
        margin-bottom: 30px;
        font-size: 27px;
    }
    section .description {
        color: #373737;
        margin-bottom: 30px;
        font-size: 15px;
    }
}