#login {
    height: 90vh;
}

#login .card {
    box-shadow: 10px 10px 15px rgba(73, 78, 92, 0.1);
    background: #fff;
    transition: 0.4s;
}

#login .card .card-header {
    background-color: #fff;
}

#login .or-seperator {
    margin-top: 20px;
    text-align: center;
    border-top: 1px solid #ccc;
}

#login .or-seperator i {
    padding: 0 10px;
    background: #f7f7f7;
    position: relative;
    top: -11px;
    z-index: 1;
}

@media (max-width: 992px) {}

@media (max-width: 768px) {}

@media (max-width: 576px) {
    #login {
        height: 100vh;
    }
}